<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>Dev Skills</title>
</head>
<body>
  <h1>Edit <%= skill.name %> Skill:</h1>
  <form action="/skills/<%= idx %>?_method=PUT" method="POST" autocomplete="off">
    <input type="text" name="name" value="<%= skill.name %>">
    <input type="text" name="description" value="<%= skill.description %>">
    <input type="text" name="level" value="<%= skill.level %>">
    <button type="submit">Save skill</button>
  </form>
</body>
</html>